/**
 * 存放css变量
 *
 */

$white: #fff;
$danger: #e93b3b;
$content-fontcolor: #333;
$medium-fontColor: #666;
$light-fontColor: #999;
$content-notice-fontcolor: #777;
$content-bgcolor: #f1f1f1;
$search-bgcolor: #f5f5f5;
$search-fontcolor: #b7b7b7;
$docker-height: .49rem;
